<!DOCTYPE html>
<html>

<head>
	<title>Task</title>
</head>



<body>

  
	<form id="add_task" >
		<table width="600" border="1" cellspacing="5" cellpadding="5">
            
			<tr>
				<td width="230">Title</td>
				<td width="329">
					<input type="text" name="task_title" />
				</td>
			</tr>
			<tr>
				<td>Mission</td>
				<td>
					<input type="text" name="task_mission" />
				</td>
			</tr>

            <tr>
				<td>Check</td>
                <td>
                    
                    <select name="task_check" id="task_check">
                      <option value="Kabul">Kabul</option>
                      <option value="Red">Red</option>
                     
                    </select>



               

            </td>
        </tr>


			<tr>
                
				<td colspan="2" align="center">
					<input type="submit" name="btnAddUser" value="Add Task" />
				</td>
			</tr>
           
		</table>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Validation library file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<!-- Sweetalert library file -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.2/dist/sweetalert2.min.js"></script>

<script>

$(function() {

// Adding form validation
$('#add_task').validate();

// Ajax form submission with image
$('#add_task').on('submit', function(e) {

    e.preventDefault();

    var formData = new FormData(this);
    // OR var formData = $(this).serialize();

    //We can add more values to form data
    //formData.append("key", "value");

    $.ajax({
        url: "<?= site_url('Task/addTask') ?>",
        type: "POST",
        cache: false,
        data: formData,
        processData: false,
        contentType: false,
        dataType: "JSON",
        success: function(data) {
            if (data.success == true) {
                Swal.fire('Saved!', '', 'success')
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Hata Var');
        }
    });
});
});


</script>






</html>